<div class="form-container h-100 w-100">
  <mat-card class="user-info">
    <form [formGroup]="profileForm">
      <input type="hidden" formControlName="id" />
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contato</mat-label>
        <input
          type="tel"
          matInput
          formControlName="phone"
          mask="(00) 0 0000-0000"
          readonly
        />
      </mat-form-field>
    </form>
  </mat-card>
  <div class="divisor">
    <div></div>
    <span> Amostras </span>
    <div></div>
  </div>
  <!------------------------------------------------------>

  <mat-card class="formulario">
    <form class="tabela-header">
    <div class="tabela-header-row1" >
      <mat-form-field>
        <mat-label>Identificaçao</mat-label>
        <input type="text" matInput formControlName="nome_amostra" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data da amostra</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data_amostra">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
      <mat-form-field>
        <mat-label>Ensaios</mat-label>
        <mat-select [formControl]="toppings" multiple>
          @for (topping of toppingList; track topping) {
          <mat-option [value]="topping">{{ topping }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    
    <div class="tablela">
       

            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5]"
                           showFirstLastButtons
                           aria-label="Selecione as amostras">
            </mat-paginator>
          
          
      </div>


  </mat-card>
</div>
