:host{

  mat-form-field{
    width: 100%;
  }
    table {
        width: 100%;

        td{
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      
    
}