:host{

      .tabela-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
  
        .filter-field {
          width: 100%;
  
          .mat-mdc-form-field-infix {
            width: 100%;
          }
        }
  
        .table-wrapper {
          flex-grow: 1;
          overflow-y: auto;
          position: relative;
        }
  
        .analysis-table {
          width: 100%;
  
          th, td {
            text-align: left;
            padding: 8px;
          }

  
          th {

            position: sticky;
            top: 0;
            z-index: 1;
          }
        }
  
        .sticky-paginator {
          position: sticky;
          bottom: 0;
          z-index: 2;
        }
      }
    
}