:host { 
    mat-card{
       display: flex;
       margin: 20px;
       padding: 20px;
   
    }
    .icon{
      margin: 0 auto;
   &:hover{
   color: red;
   cursor: pointer; 
}
    }
   
       }
     