/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //display: grid;
//  grid-template-columns: 100%;
 // grid-row: auto auto;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;

  .sidenav-container{

  }
  .main-container{
    flex-grow: 1;
    margin-top: 3px;
    padding: 15px;
  }
  
}
.m-hover:hover{
  cursor: pointer;
 }


.w-100 {
  width: 100%;
}
.h-100{
  height: 90%;
}
a {
  text-decoration: none;
}
.red-10{
  color: var(--red-10);
}
.red{
  color: red;
}
.green{
  color: green;
}
