<header class="header"  [class.mat-elevation-z2]="true">

    <div class="img-container"><img src="/img/logo_LBF.png" width="150px" alt="Logo Laboratório Fisico AMM"></div>

    <div class="text-container">  <i class="material-icons">{{pageIco}}</i>
    <span>{{pageTitle}}</span>
    </div>

    <div class="nav-container">
        <span>Olá, {{name}}!</span>    
        <mat-icon [routerLink]="['/']" >home</mat-icon>
        <mat-icon [routerLink]="['/perfil']" >person</mat-icon>
        <mat-icon matBadge="!" [matBadgeHidden]="hidden" aria-hidden="false" class="ico-message">notifications</mat-icon>
    </div>
    <div (click)="logout()" class="logout" ><i  class="material-icons">logout</i></div>
</header>
