<div class="book">
  <div class="page">
    <div class="subpage">
      <div class="header">
        <div>
          <img src="img/logo_relatorio.png" width="150px" />
        </div>
        <div>
          <h1>Laudo de Análise</h1>
        </div>
        <div class="header-right">
          <img height="24px" src="img/arcelor.png" />
        </div>
      </div>
      <div class="body">
        <fieldset class="solicitante">
          <div>
            <div><span>Área Solicitante:</span> <fieldset><p>GAPSI</p></fieldset></div>
            <div><span>Data de Início:</span> <fieldset><p>dd/mm/aaaa</p></fieldset></div>
            <div><span>Prazo em dias:</span> <fieldset><p>15</p></fieldset></div>
          </div>
          <div>
            <div><span>Requerente:</span> <fieldset><p>xxxxx</p></fieldset></div>
            <div><span>E-mail:</span> <fieldset><p>xxxxxemail.com</p></fieldset></div>
            <div><span>Data Final:</span> <fieldset><p>dd/mm/aaaa</p></fieldset></div>
          </div>
        </fieldset>
        <fieldset class="analise">
          <div>
            <div><span>Identificação da amostra:</span> <fieldset><p>Sínter</p></fieldset></div>
            <div><span>Tipo de amostras:</span> <fieldset><p>Outro</p></fieldset></div>
          </div>
          <div>
            <div><span>Data da Amostra:</span> <fieldset><p>xxxxx</p></fieldset></div>
            <div><span>Data da Recepção:</span> <fieldset><p>xxxxxemail.com</p></fieldset></div>
          </div>
        </fieldset>
        <fieldset class="ensaios">
          <div class="title">
<h2>Ensaios Solicitados</h2>
          </div>
          <div>
            <div><span>Identificação da amostra:</span> <fieldset><p>Sínter</p></fieldset></div>
            <div><span>Tipo de amostras:</span> <fieldset><p>Outro</p></fieldset></div>
          </div>
          <div>
            <div><span>Data da Amostra:</span> <fieldset><p>xxxxx</p></fieldset></div>
            <div><span>Data da Recepção:</span> <fieldset><p>xxxxxemail.com</p></fieldset></div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="subpage">Page 2/2dddddddddd</div>
  </div>
</div>
