:host{
    table{
        td{
            &:hover{
                cursor: pointer;
               
            }
        }
        tr:hover>td{
            background: var(--gray-100);
        }
    }
}