<mat-card>
    <div
      class="close-bar"
      [ngClass]="{
        'bg-red-10': prazo_atual.includes('atraso'),
        'bg-blue-10': prazo_atual.includes('restantes')
      }"
    >
      <span> {{ prazo_atual }}</span>
      <mat-icon (click)="closeDialog()">close</mat-icon>
    </div>
    <mat-card-header>
      <img src="/img/logo_SFND - 200px.png" alt="Logotipo Laboratório Físico" />
      <h2>{{ensaio}}</h2>
      <div class="os-number">
        Ordem de Serviço <span> {{ amostra.numeroOs }} </span>
      </div>
    </mat-card-header>
  
    <mat-card-content>
         <div class="form-controls">
            <mat-form-field>
              <mat-label>Item</mat-label>
              <mat-select (selectionChange)="selecionarConfiguracao($event.value)" >
                @for (item of listConfigAnalises; track item) {
                <mat-option [value]="item._id"
                  >{{ item.materia_prima.nome_descricao }}</mat-option             >
                }
  
              </mat-select>
            </mat-form-field>
            <button mat-flat-button (click)="openDialogConfigAnalise()"><mat-icon>add</mat-icon> Nova configuração</button>
          </div>

        </mat-card-content>
        
        <mat-card appearance="outlined">
          <mat-card-content>
            <table>

                @for(config of getParamsValues(configuracaoSelecionada()); track config) {
                <tr>
                  <td>{{config.item}}</td>
                  <td> 
                    <mat-form-field >
                      <span matTextSuffix>&nbsp; {{config.unidade_resultado}}</span>
                      <input type="number" matInput (blur)="limitarCasasDecimais($event, config.casas_decimais)">
                    </mat-form-field>
                </tr>
              }

              </table>
            </mat-card-content>
          </mat-card>


  </mat-card>
  