<app-header [pageIco]="pageIco" [pageTitle]="pageTitle"/>
<main>
    <div class="sidenav-container">
        <app-sidenav></app-sidenav>
    </div>
    <div class="main-container">
        <app-main>
            <mat-card>
<div class="dashboard">

    <div class="container">
        <app-analytical-em-atraso/>
    </div>
    <div class="container">
        <app-analytical-os/>
    </div>
    <div class="container">
        <app-analytical-ensaios/>
    </div>
    <div class="container">
        <app-analytical-demandas/>
    </div>

</div>

            </mat-card>          
        </app-main> 
    </div>
</main>
