<div class="container-1">
  <div class="text">
    <span class="title"><strong>Análises</strong></span>
    <span class="subtitle">em atraso</span>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [plotOptions]="chartOptions.plotOptions!"
      [labels]="chartOptions.labels!"
      [legend]="chartOptions.legend!"
      [colors]="chartOptions.colors!"
      [responsive]="chartOptions.responsive!"
    ></apx-chart>
  </div>
</div>
